body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100vh;
}

img{
    position: absolute;
    top: 25px;
    left: 40px;
    width: 48px;
}

#main-header{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 3vw;
    text-align: center;
}

#name-container{
    display: flex;

}

.pair{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roles{
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    color: rgb(39, 35, 35);
}

.name{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    text-align: center;
    padding: .25em;
    font-size: 4vw;
    color: rgb(39, 35, 35);
}